body{
    height: 100%;
    background-color: #f1f1f1; 
}

.main{
    padding: 10px;    
}

.subject-card{
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.subject-card.selected{
    background-color: #50537f !important;
    color: white !important;
    cursor: default;
}

.chapter-card{
    padding: 10px;
    margin-bottom: 20px;
}

input[type=text]:focus:not([readonly]){
    box-shadow: none !important
}

.explanation-card{
    padding: 10px;
    font-size: 15px;
}

.explanation-card.reverse{
    background-color: #333 !important;
    color: white !important;
}

.explanation-form-input.concept-name{
    display: block !important;
    margin: 0 auto !important;
    width: 90% !important;
    
}