body{
    height: 100%;
    background-color: #f1f1f1; 
}

.main{
    padding: 10px;    
}

.subject-card{
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.subject-card.selected{
    background-color: #50537f !important;
    color: white !important;
    cursor: default;
}

.chapter-card{
    padding: 10px;
    margin-bottom: 20px;
}

input[type=text]:focus:not([readonly]){
    box-shadow: none !important
}

.concept-card{
    padding: 10px;
    font-size: 15px;
    height: 500px;
    width: 300px;
    margin: auto;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.concept-card.explanation{
    background-color: white !important;
    color: #333 !important;
}



.concept-card.references{
    background-color: #3f789a !important;
    color: white !important;
}

.concept-card.questions{
    background-color: #795548 !important;
    color: white !important;
}

.concept-card > .concept-name{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: block;
}

.explanation-img{
    background-color: #444;
    height: 200px !important;
    width: 100% !important;
}

.nodes > .btns {
    width: 100%;
    background-color: #f3f3f3;
    border: solid #333 1px;
    border-radius: 3px;
}

.conceptViewContainer{
    padding: 10px;
    padding-top: 70px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
}

.conceptList-card {
    padding: 10px !important;
    cursor: pointer !important;
    margin-bottom: 10px;
}
.conceptList-card.selected{
    background-color: #50537f !important;
    color: white !important;
    cursor: default;
}
.node{
    position: relative;
    margin: 0 -5px;
}

.concept-card ol{
    padding-left: 20px !important;
}

.thin-text{
    font-weight: 300;
}

.clickable{
    cursor: pointer;
}
.remove-icon-container{
    position: relative;
}
.remove-icon{
    z-index: 9999;
    cursor: pointer;
    color: red !important;
    position: absolute;
    right: 5px;
    top: 5px;
}