body{
    height: 100%;
    background-color: #f1f1f1; 
}

.main{
    padding: 10px;    
}

.subject-card{
    padding: 10px;
    cursor: pointer;
}

.subject-card.selected{
    background-color: #50537f !important;
    color: white !important;
    cursor: default;
}